{% extends 'base.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}">
       
        <form action="{% url 'update' blog.id %}" method="post">
            {% csrf_token %}
            <p>제목:<input type="text" name="title" value="{{blog.title}}"></p>
            <p>작성자:<input type="text" name="writer"value="{{blog.writer}}"></p>
            본문:<textarea name="body" id="" cols="30" rows="10" value="{{blog.body}}"></textarea>
            <button type="submit">추가하기</button>
        </form>
{% endblock %}