{% extends 'base.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <title>BLOG</title>
    
                  

        <div class ="name">
        <h1>BLOG</h1>
      </div>
        {% for blog in blogs.all%}
        <!-- Blog post-->
        <div class="card mb-4">
          <img class="card-img-top" src="{{ blog.image.url}}" alt="Card image cap" />
          <div class="card-body">
              <h2 class="card-title">{{blog.title}}</h2>
              <p class="card-text">{{blog.summary}}</p>
              <a class="btn btn-primary" href="{% url 'detail' blog.id %}">Read More →</a>
          </div>
          <div class="card-footer text-muted">
            
              
          </div>
      </div>

      
    </div>
            
        
        {% endfor %}
        
{% endblock %}