{% extends 'base.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">
        

        <form action="{% url 'create'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>제목:<input type="text" name="title" class="title"></p>
            <p>작성자:<input type="text" name="writer" class="writer"></p>
            <p>사진:<input type="file" name="image" class="image"></p>
            본문:<textarea type="text" name="body" id="" cols="30" rows="10" class="body"></textarea>
            <button type="submit" class="btn btn-dark">제출하기</button>
        </form>
{% endblock %}