:root{
  --background-color: #ffffff;
  --point-color: #354356;
  
}

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	
  
  }
  
 

header{
  text-align: center;
  background-color: var(--point-color);
  color: var(--background-color);
}

.introduce p{
  padding: 10px;
  border-style: solid;
  border-color: var(--point-color);
}

.favorite div{
  display: inline-block;
  padding: 10px;
 
  
}
.favorite li{
  padding:10px;

}

.favorite img{
  width: 196px;
  height: 130px;
 

}
.future {
  padding: 0px;
  border-style: solid;
  border-color: var(--point-color);
}
