:root{
  --background-color: #ffffff;
  --point-color: #354356;
  
}

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	
  
  }
  
  .body {
	background-color: var(--background-color);
  }

  .navbar{
      background-color: var(--point-color);
  }

  .nav-link{
      color: var(--background-color);
  }

  .navbar-brand{
    color: var(--background-color);
  }