:root{
  --background-color: #ffffff;
  --point-color: #354356;
  
}

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	
  
  }
  
.me{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 30%;
  height: 30%;
}

.btn{
  background-color: var(--point-color);
  border: none;
  display: block;
  margin-left: 45%;
  margin-right: 45%;
}

.card-header{
  background-color: var(--point-color);
  color: var(--background-color);
}