:root{
  --background-color: #ffffff;
  --point-color: #354356;
  
}

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	
  
  }
  
.up{
  float: left;
}

.name{
  margin-left: 30px;
}




.btn{
  background-color: var(--point-color);
  border: none;
  
}

.card-header{
  background-color: var(--point-color);
  color: var(--background-color);
}