{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

<body class="login">


  <form action="." method="post" class="loginForm">
    {% csrf_token %}
    <div class="header">
      <h2>Sign up</h2>
    </div>
    <div class="idForm">
      <label for = "user_id">아이디</label>
      <input type="text" class="user_id" id = "user_id" placeholder="아이디를 입력해주세요" name = "user_id">
    </div>
    <div class="passForm">
      <label for = "password">비밀번호</label>
      <input type="password" class="pw" id = "password" placeholder="비밀번호를 입력해주세요" name = "password">
    </div>
    <div class="passCheck">
      <label for = "re-password">비밀번호 확인</label>
      <input type="password" class="pw" id = "re-password" placeholder="다시 한번 비밀번호를 입력해주세요" name = "re-password">
    </div>
  
    <button type="submit" class="btn btn-primary">
      Sign up
    </button>


    
{% endblock %}